<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBin</servlet-name>
        <servlet-class>controller.AddBin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehicle</servlet-name>
        <servlet-class>controller.AddVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBin</servlet-name>
        <servlet-class>controller.EditBin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVehicle</servlet-name>
        <servlet-class>controller.EditVehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDriver</servlet-name>
        <servlet-class>controller.AddDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDriver</servlet-name>
        <servlet-class>controller.EditDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistanceCalculate</servlet-name>
        <servlet-class>controller.DistanceCalculate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAssignBin</servlet-name>
        <servlet-class>jsonpackage.GetAssignBin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BinStatus</servlet-name>
        <servlet-class>jsonpackage.BinStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBinDetails</servlet-name>
        <servlet-class>jsonpackage.GetBinDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservation</servlet-name>
        <servlet-class>jsonpackage.Reservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gps_Loc</servlet-name>
        <servlet-class>jsonpackage.Gps_Loc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>jsonpackage.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>jsonpackage.UserRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBin</servlet-name>
        <url-pattern>/AddBin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehicle</servlet-name>
        <url-pattern>/AddVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBin</servlet-name>
        <url-pattern>/EditBin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVehicle</servlet-name>
        <url-pattern>/EditVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDriver</servlet-name>
        <url-pattern>/AddDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDriver</servlet-name>
        <url-pattern>/EditDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistanceCalculate</servlet-name>
        <url-pattern>/DistanceCalculate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAssignBin</servlet-name>
        <url-pattern>/GetAssignBin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BinStatus</servlet-name>
        <url-pattern>/BinStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBinDetails</servlet-name>
        <url-pattern>/GetBinDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservation</servlet-name>
        <url-pattern>/Reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gps_Loc</servlet-name>
        <url-pattern>/Gps_Loc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
